<div class="app-form">
  <label for="physicalAddressLineOne">Physical Address</label>
  <br>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Number / Unit & Complex & Street"
           id="physicalAddressLineOne" name="physicalAddressLineOne" [(ngModel)]="user.physicalAddress.lineOne" type="text">
  </mat-form-field>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="City"
           id="physicalAddressLineTwo" name="physicalAddressLineTwo" [(ngModel)]="user.physicalAddress.lineTwo" type="text">
  </mat-form-field>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Postal Code"
           id="physicalAddressLineThree" name="physicalAddressLineThree" [(ngModel)]="user.physicalAddress.lineThree"
           type="text">
  </mat-form-field>
  <br>
  <label for="postalAddressLineOne">Postal Address</label>
  <br>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Number / Unit & Complex & Street"
           id="postalAddressLineOne" name="postalAddressLineOne" [(ngModel)]="user.postalAddress.lineOne" type="text">
  </mat-form-field>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="City"
           id="postalAddressLineTwo" name="postalAddressLineTwo" [(ngModel)]="user.postalAddress.lineTwo" type="text">
  </mat-form-field>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Postal Code"
           id="postalAddressLineThree" name="postalAddressLineThree" [(ngModel)]="user.postalAddress.lineThree"
           type="text">
  </mat-form-field>
</div>
