<div class="app-form">
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="First Name"
           id="firstName" name="firstName" [(ngModel)]="user.firstName" type="text">
  </mat-form-field>
  <br>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Second Name"
           id="secondName" name="middleName" [(ngModel)]="user.secondName" type="text">
  </mat-form-field>
  <br>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Last Name"
           id="lastName" name="lastName" [(ngModel)]="user.lastName" type="text"><br>
  </mat-form-field>
</div>
