<div class="app-form">
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="First Name"
           id="firstName" name="firstName" [(ngModel)]="user.firstName" type="text">
  </mat-form-field>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Last Name"
           id="lastName" name="lastName" [(ngModel)]="user.lastName" type="text">
  </mat-form-field>
  <mat-form-field class="app-eighty-width">
    <input matInput placeholder="Cell Number"
           id="cellNumber" name="cellNumber" [(ngModel)]="user.cellNumber" type="text">
  </mat-form-field>
</div>
