/* You can add global styles to this file, and also import other style files */
.app-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin: auto;
}

.app-eighty-width {
  width: 80%;
}
