<label>Physical Address</label>
<br>
<input type="text" id="physicalLineOne" name="physicalLineOne" value="physicalLineOne" class="form-control" required>
<br>
<input type="text" id="physicalLineTwo" name="physicalLineTwo" value="physicalLineTwo" class="form-control" required>
<br>
<input type="text" id="physicalLineThree" name="physicalLineThree" value="physicalLineThree" class="form-control"
       required>
<br>
<label>Postal Address</label>
<br>
<input type="text" id="postalLineOne" name="postalLineOne" value="postalLineOne" class="form-control" required>
<br>
<input type="text" id="postalLineTwo" name="postalLineTwo" value="postalLineTwo" class="form-control" required>
<br>
<input type="text" id="postalLineThree" name="postalLineThree" value="postalLineThree" class="form-control" required>
